span { 
  display: block; 
  overflow: hidden; 
  padding: 0px 4px 0px 6px; 
} 

.my-label {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: blue;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.my-select {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: blue;
  padding: 5px;
  padding-top: 5px;
}

.my-select1 {
    position: relative;
    left: 50px; /* Move it 30 pixels to the right from its original position */
}

body {
  margin: 0;
  padding: 0;
  background-color: #ADD8E6;
}
header {
  height: 80px;
  background-color: #030346;
  color: rgb(239, 29, 29);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
}
aside {
  width: 200px;
  height: 100%;
  background-color: rgb(8, 2, 48);
  color: white;
  position: fixed;
  top: px;
  left: 0;
}
main {
  margin-top: 50px;
  margin-left: 200px;
  height: 100%;
  background-color: #ADD8E6;
  overflow-y: scroll;
  padding: 20px;
}
footer {
  height: 50px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

.blink_text {
  padding-left: 200px;
  animation: blinker 1s linear infinite;
  color: orangered;
  font-size: x-large;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}