.wsb__projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.wsb__projects-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.wsb__projects-heading h1 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 800;
    font-family: var(--font-family);
    /*color: darksalmon; */
}

.wsb__projects-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 0rem;
}

.wsb__project-projectlist button,
select {
    padding: 0.5rem 1rem;
    color: #fff;
    background: hsl(244, 80%, 58%);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.wsb__projects-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .wsb__projects {
        flex-direction: column;
    }

    .wsb__projects-heading {
        margin: 0 0 0rem 0;
    }

    .wsb__projects-container_groupA .wsb__projects-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 550px) {
    .wsb__projects-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}
